---
layout: default
title: West Elders Quorum
---

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="lds.js"></script>

<link rel="stylesheet" type="text/css" href="lds.css">

{% raw %}
<div ng-app="lds-app">
  <h2>West Elders Quorum</h2>
  <br/>
  <div ng-controller="ldsCtrl">
    <div ng-if="!logged-in">
      <h3>Please sign in with your LDS account</h3>
      <form ng-submit="login()">
        <div class="form-control">
          Username:
          <input type="text" ng-model="username"/>
        </div>
        <div class="form-control">
          Password:
          <input type="password" ng-model="password"/>
        </div>
        <div class="form-control">
          <input type="submit" value="Sign In"/>
        </div>
      </form>
    </div>
    <div ng-if="logged-in">

    </div>
  </div>
</div>
