<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/colors-light.css" rel="stylesheet" />

  <script type="text/javascript">
    var host = "drautb.github.io";
    if ((host == window.location.host) && (window.location.protocol != "https:")) {
      window.location.protocol = "https";
    }
  </script>

</head>

<body>



  <header id="header">
    <h1><a href="/"><i class="icon-sun"></i> {{ site.name }}</a></h1>
    <p>{{ site.description }}</p>
  </header>



  <div id="page">



    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archives">Archive</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="http://twitter.com/drautb">Twitter</a></li>
          <li><a href="/feed.xml">RSS Feed</a></li>
        </ul>
      </nav>
    </div>



    <div id="content">
      {{ content }}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.name }}. Powered by <a href="http://jekyllrb.com">Jekyll</a>, theme by <a href="http://www.webmaster-source.com">Matt Harzewski</a></p>
  </footer>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/assets/js/jquery.mobilemenu.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>



</body>
</html>